<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <section>
      <h1>Home</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatibus, quibusdam, quia, voluptatem voluptatum quos dolorum
        voluptate quod quas quidem natus. Quisquam, quibusdam. Quisquam
        voluptatibus, quibusdam, quia, voluptatem voluptatum quos dolorum
        voluptate quod quas quidem natus. Quisquam, quibusdam.
      </p>
    </section>
  </body>
</html>
